[Unit]
Description=Alexandria webblazor

[Service]
WorkingDirectory=/var/www/webblazor
ExecStart=/usr/share/dotnet/dotnet /var/www/webblazor/web-mudblazor.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=alexandria_webblazor
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target
